.container {
    width: 100%;
    min-height: 100vh;
    background: url(../../assets/images/auth-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    background: url(../../assets/images/login-bg.png);
    min-height: 100vh;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
}